
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.leanerAcademy.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListController</servlet-name>
  	<display-name>ListController</display-name>
  	<description></description>
  	<servlet-class>com.leanerAcademy.controller.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListController</servlet-name>
  	<url-pattern>/ListController</url-pattern>
  </servlet-mapping>
</web-app>
